@font-face {
  font-family: SoT;
  src: url("/src/fonts/brushtiptexe/BTTTRIAL.otf") format("opentype");
}

* {
  font-family: "SoT";
}

.titleLogin {
  font-size: 7vw;
  background: #cf1515;
  background: linear-gradient(to right, #00f7ff 20%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formTitle {
  font-size: 5vw;
  background: #cf1515;
  background: linear-gradient(to right, #00f7ff 20%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bodyInit {
  background-image: url("/src/imgs/wallpaper.jpg");
}

.controlSOT {
  background: linear-gradient(to right, #00f7ff 20%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
